<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/EL/JAVA LANG/Infosys_QA_Env/src/test/java/TestPackage/TestClass_final.java">
    <classes><class name="TestPackage.TestClass_final">
        <methods><include name="AddingCommodityStockToWatchlist"/>
            <include name="ValidatingDashboardTab"/>
            <include name="ValidatingOrdersTab"/>
            <include name="ValidatingHoldingsTab"/>
        </methods>
    </class>
    </classes>
</test>
</suite>